// Color
$color-primary: #2a2a2a;
$color-title: #333333;
$color-hover: #ff5555;
$color-second: #2a2a2a;

// Background
$background-primary: #333333;
$background-hover: #ff5555;
$background-footer: #161616;
$background-copyright: #b4061f;

// Border color
$border-color: #eeeeee;