// Color
$color-primary: #2a2a2a;
$color-second: #2a2a2a;
$color-title: #111111;
$color-hover: #ff5555;

// Background
$background-primary: #b4061f;
$background-second: #1d1d1d;
$background-third: #a50000;
$background-hover: #d22027;
$background-footer: #161616;
$background-copyright: #b4061f;

// Border color
$border-color: #eeeeee;