.main-navigation {
  border-bottom: 1px solid #eaeaea;
  background-color: #ffffff;

  .site-navbar {
    position: relative;
  }
}
.site-logo {
  @include flex(0 0 auto);

  .site-logo__warp {
    padding: 15px 0;
  }
  a {
    display: inline-block;
    width: 200px;
  }
}
.site-menu {
  @include flex(1);

  ul {
    padding: 0;
    margin: 0;

    li {
      position: relative;
      padding: 15px 0;

      a {
        padding: 0 15px;
        text-shadow: none;
        display: block;
        font-size: 14px;
        color: #2a2a2a;
        font-weight: 700;

        &:hover {
          background-color: transparent;
          color: $color-hover;
        }
      }
      &:last-child {
        a {
          padding-right: 0;
        }
      }
      &.current-menu-item {
        > a {
          color: $color-hover;
        }
      }
      .sub-menu {
        min-width: 160px;
        border-top: 1px solid $color-hover;
        background-color: $border-color;
        position: absolute;
        top: 120%;
        left: 0;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
        @include transition(all 0.4s ease-out);

        li {
          padding: 8px 0;
          display: block;

          a {
            white-space: nowrap;
          }
          .sub-menu {
            left: 90%;
            top: -1px;
          }
          &:hover {
            > .sub-menu {
              left: 100%;
            }
          }
        }
      }
      &:hover {
        > .sub-menu {
          top: 100%;
          z-index: 999;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
.navbar-toggler {
  padding: 0;
  border: 0;
}
.icon_menu_item_mobile {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 12px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;

  &:after {
    content: "\f078";
    display: inline-block;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
  }
  &.icon_menu_item_mobile_active {
    &:after {
      content: "\f077";
    }
  }
}