.site-footer {
  section {
    &.widget {
      margin-bottom: 15px;
    }
  }

  &__multi--column {
    padding: 30px 0 15px;
    background-color: $background-footer;

    .widget {
      .widget-title {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 12px;

        a {
          color: #ffffff;
        }
      }
    }

    .widget_text {
      color: #ffffff;
      font-size: 15px;

      p {
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      a {
        color:#ffffff;

        &:hover {
          color: $color-hover;
        }
      }
    }

    .widget_nav_menu {
      ul {
        li {
          a {
            color: #ffffff;

            &:hover {
              color: $color-hover;
            }
          }
        }
      }
    }
  }

  &__copyright {
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    background-color: $background-copyright;

    p {
      &:last-child {
        margin: 0;
      }
    }
  }
}